@model sp19team23finalproject.Models.AppUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student's Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Major.MajorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Major.MajorName)
        </dd>


        @*<dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GradDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradDate)
        </dd>*@

    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>

