@model IEnumerable<sp19team23finalproject.Models.AppUser>

@{
    ViewData["Title"] = "View Recruiters";
}

<h2>View Recruiters</h2>
@Html.ActionLink("Create Recruiter", "CreateRecruiter", "Account", null, new { @class = "btn btn-danger" })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>


                <td>
                    <a asp-action="DetailsRecruiter" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="EditRecruiter" asp-controller="Account" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
